%p#notice= notice

%p
  %b Name:
  = @commerce.name
%p
  %b Website:
  = @commerce.website
%p
  %b Category:
  = @commerce.category
%p
  %b Name:
  = @commerce.name
%p
  %b Last name:
  = @commerce.last_name
%p
  %b Position:
  = @commerce.position
%p
  %b Phone:
  = @commerce.phone
%p
  %b Email:
  = @commerce.email

= link_to 'Edit', edit_commerce_path(@commerce)
\|
= link_to 'Back', commerces_path
