%p#notice= notice

%p
  %b Name:
  = @commerce.name
%p
  %b Website:
  = @commerce.website
%p
  %b Name:
  = @commerce.name
%p
  %b Email:
  = @commerce.email

= link_to 'Edit', edit_commerce_path(@commerce)
\|
= link_to 'Back', commerces_path
